# ignore these
*
# except foo
!yFinance.ipynb
!StoreTweetsBackend.ipynb
!StoreTweets.ipynb
!stockFunctionsbackup.ipynb
!StockForecastingComponent-Copy2.ipynb
!StockForecastingComponent.ipynb
!SentimentComponent.ipynb